.spa_catalog {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.spa_boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.spa_container {
    width: 70%;
    margin: 32px 25px;
    padding: 50px;
    background: var(--primColor);
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.spa_p {
    text-align: start;
}
.spa_header {
    font-size: 2rem;
}
.spa_icons {
    width: 100px;
    height: auto;
    margin-bottom: 32px;
}


@media all and (min-width: 850px) {
    .spa_boxes {
        width: 80%;
        flex-direction: row;
    }
    .spa_container {
        height: 450px;
        width: 250px;
    }
}
@media all and (max-width: 1060px) {
    .spa_boxes {
        width: 90%;
    }
}



.dark-theme .spa_container {
    background:var(--dm-primColor); 
    border: 2px solid var(--dm-primColor);
    color: #fff;
    box-shadow: 0 0 20px rgba(158, 158, 158, 0.2);
}
/*
.dark-theme .spa_container:hover {
    background: var(--dm-secondColor);
    border: 2px solid #ffffff;
    cursor: pointer;
}
*/